.login-container {
    border: 1px solid #D1CCCC;
    height: fit-content;
    width: fit-content;
    padding: 3rem;
    padding-right: 3.5rem;
    padding-left: 2.5rem;
    padding-top: 1rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.login-box {
    justify-items: center;
    margin-bottom: 7rem;
}

.login-input {
    border: 1px solid #D1CCCC;
    margin-bottom: 1rem;
}

.login-btn {
    width: 100%;
    background-color: #BBFF0F;
    color: black;
    font-size: 1rem;
    margin-top: 1rem;
}

.login-btn:hover {
    background-color: #64e304;
    color: white;
}

.show-pass {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0.75rem;
}

#chk-pass {
    margin: 0;
    width: 1rem;
    margin-right: 0.5rem;
    accent-color: #BBFF0F;
}

.btn-container {
    width: 318px;
    justify-items: center;
    justify-content: center;
}

.loginpage-link {
    color: #000DFF;
    text-decoration: none;
}

.loginpage-link:hover {
    color: #000DFF;
    text-decoration: underline;
}

.loginpage-link:visited {
    color: #000DFF;
    text-decoration: none;
}

.login-pass {
    width: 300px;
}

.login-input {
    width: 300px;
}

.error-msg {
    color: #FF0202;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.err-text {
    margin-left: 0.5rem;
}
